.hero{
    width: 100%;
    height: 100vh;
    background: url('../../assets/hero-img-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-isr{
    display: flex;
    justify-content: space-between;
}

.logo img{
    position: absolute;
    top: 79px;
    left: 220px;
    width: 406px;
}
   

@media screen and (max-width: 1700px) {
    .logo img{
        left: 120px;
    }
}

@media screen and (max-width: 1500px) {
    .logo img{
        left: 60px;
    }
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 768px) {
    .container-isr{
        display: block;
    }

    .logo img{
        position: absolute;
        top: 39px;
        left: 20px;
    }
}