.left-hero {
  margin-top: 160px;
  width: auto;
  height: auto;
}

.photo-left .photo-1 {
  position: absolute;
  top: 417px;
  left: 400px;
  width: 706px;
  height: 515px;
}

.photo-left .photo-2 {
  top: 487px;
  left: 278px;
  width: 333px;
  height: 278px;
  position: absolute;
}

@media screen and (max-width: 1700px) {
  .photo-left .photo-1 {
    top: 425px;
    left: 330px;
    width: 656px;
    height: auto;
  }
  .photo-left .photo-2 {
    top: 487px;
    left: 170px;
    width: 333px;
    height: auto;
  }
}

@media screen and (max-width: 1500px) {
  .photo-left .photo-1 {
    margin-top: 40px;
    left: 170px;
    width: 646px;
  }
  .photo-left .photo-2 {
    width: 293px;
    height: auto;
  }
}

@media screen and (max-width: 1366px) {
  .photo-left .photo-1 {
    position: absolute;
    top: 277px;
    left: 420px;
    width: 806px;
    height: auto;
  }

  .photo-left .photo-2 {
    top: 487px;
    left: 178px;
    width: 370px;
    height: auto;
  }
}

@media screen and (max-width: 1270px) {
  .photo-left .photo-1 {
    top: 277px;
    left: 320px;
    width: 856px;
    height: auto;
  }

  .photo-left .photo-2 {
    top: 487px;
    left: 158px;
    width: 370px;
    height: auto;

  }
}

@media screen and (max-width: 1270px) {
  .photo-left .photo-1 {
    top: 277px;
    left: 320px;
    width: 700px;
    height: auto;
  }

  .photo-left .photo-2 {
    top: 487px;
    left: 158px;
    width: 270px;
    height: auto;

  }
}

@media screen and (max-width: 1024px) {
  .photo-left .photo-1 {
    top: 327px;
    left: 230px;
    width: 750px;
    height: auto;
  }

  .photo-left .photo-2 {
    top: 487px;
    left: 60px;
    width: 320px;
    height: auto;

  }
}

@media screen and (max-width: 768px) {


  .photo-left .photo-1 {
    top: 420px;
    left: 85px;
    width: auto;
    height: 470px;
  }

  .photo-left .photo-2 {
    top: 430px;
    left: 50px;
    width: 315px;
    height: auto;
  }
}
