.cards{
    display: grid;
    gap: 24px;
    grid-template-columns: auto auto;
}

.card{
    max-width: 336px !important;
    max-height: 220px !important;
    font-family: "Nunito";
    cursor: pointer;
    text-align: justify;
}

.card .icon{
    display: flex;
    align-items: center;
    justify-content: left;
}

.card .icon img{
    width: 80px;
}

.card .icon h5{
    margin: 0 10px;
    font-size: 20px;
    font-weight: 800;
    color: var(--font-color);
}

.card .card-body p{
    font-size: 16px;
}

.right-footer{
    color: var(--light-color);
    max-width: 610px;
    margin: 30px;
}

.right-footer h3{
    font-weight: 600;
}


.right-footer p{
    font-size: 16px;
    top: 1677px;
    left: 999px;
    width: 610px;
    height: 157px;
}

@media screen and (max-width: 1500px) {
    .card{
        width: auto;
        height: auto;
    }
    .card .icon img{
        width: 70px;
        margin-right: 10px;
    }

    .card .icon h5{
        font-size: 16px;
        font-weight: 600;
    }

    .card .card-body p{
        font-size: 14px;
    }
    .right-footer{
        width: 650px;
        margin: 30px 0 0 30px;
        padding: 20px;
    }
}

@media screen and (max-width: 1366px) {
    
    .right-footer{
        width: auto;
        margin-left: -10px;
        padding: 25px;
    }

}

@media screen and (max-width: 1270px) {
    .right-content{
        display: flex;
        align-items: center;
        margin: 25px 0;
        text-align: center;
    }
    .cards{
        display: grid;
        gap: 14px;
        grid-template-columns: auto auto;
    }
    
    .card{
        width: auto;
        height: auto;
    }

    .card .icon{
        display: block;
        text-align: center;
    }

    .card .icon img{
        width: 50px;
        margin-bottom: -8px;
    }
    
    .card .icon h5{
        font-size: 18px;
    }
    
    .card .card-body p{
        font-size: 12px;
    }

    .right-footer{
        width: auto;
        padding: 30px;
    }
    
}

@media screen and (max-width: 1024px) {
    .right-content{
        display: flex;
        flex-direction: column;
    }

    .cards{
        display: grid;
        gap: 14px;
        grid-template-columns: auto auto;
    }
    
    .card{
        width: auto;
        height: auto;
    }

    .card .icon img{
        width: 70px;
    }
    
    .card .icon h5{
        font-size: 18px;
    }
    
    .card .card-body p{
        font-size: 14px;
    }
    
    .right-footer{
        width: auto;
        margin: 10px 0;
    }
    
}

@media screen and (max-width: 768px) {
    .right-content{
        display: block;
    }

    .card .icon img{
        width: 60px;
    }
    
    .card .icon h5{
        font-size: 18px;
    }
    
    .card .card-body p{
        font-size: 14px;
    }
    
    .right-footer{
        width: auto;
        margin: 10px 0;
    }

}