.about{
    width: 100%;
    background: transparent linear-gradient(137deg, #0A4AB9 0%, #009FE8 100%);
}

h2{
    padding: 50px 0;
    text-align: center;
    font: 600 36px/42px "Nunito";
    color: var(--light-color);
}

.container-isr{
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 1366px) {

    .container-isr{
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 1270px) {
    .container-isr{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px) {
    .container-isr{
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 768px) {
    .container-isr{
        display: flex;
        flex-direction: column;
    }

}